<html>
    <head>

        <title style="text-align: center">Course Management</title>

    </head>
    <style>
        body {
        background-color: #6699ff
    }
    </style>
    <body>
        <h1 style="text-align:center">Your Course List</h1>
        <form method = "POST" action="/lists/{{ list.id }}/add_course"> 
            <input name = "course_text" id="Course_Id" placeholder="Enter a Course" />
            <button type="button">Submit</button>
            {% csrf_token %}
        </form>
        <table id="Course_Table" align="center" bgcolor ="#A7A5A4"> 
            {% for course in list.courses_set.all %}
                <tr><td id = "ListedId" style="color:crimson">{{ forloop.counter }}: {{ course.text }} 
                    <input id = "Completed" type ="checkbox" onclick="ChangeColor">
                    
                    </input>
                </td></tr>
                
            {% endfor %}
        </table>

        <script>
            function ChangeColor()
            {
                document.getElementsByName("course_text").style.color="green"
            }
        </script>
    </body>
</html>